{{>_sidenav}}
{{>_adminnavbar}}
{{>_flashmsg}}
<div class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        {{#ifEqual admin.email 'superadmin@gmail.com'}}
                        <h4 class="card-title">Admin Table &nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/showadd"><i
                                    class="ti-plus"></i></a></h4>
                        {{else}}
                        <h4 class="card-title">Admin Table </h4>
                        {{/ifEqual}}

                        {{!-- <p class="card-category">Edit Here</p> --}}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">

                            {{#if superadmin}}
                            <thead>
                                <th>User ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Action</th>
                                <th>Action</th>

                            </thead>

                            {{#each admins}}
                            <tbody>
                                <tr>

                                    <td>{{id}}</td>
                                    <td>{{name}} </td>
                                    <td>{{email}}</td>
                                    <td>{{password}}</td>
                                    <td><a href="/admin/admintablelist/edit/{{id}}">Update</a></td>
                                    <td> <a href="/admin/admintablelist/delete/{{id}}"
                                            onclick="return confirm('Are you sure you want to delete {{name}}?');">Delete</a>
                                    </td>
                                    {{!-- <td><a href="/admin/admintablelist/delete/{{id}}">Delete</a></button> --}}
                                </tr>
                            </tbody>
                            {{/each}}

                            {{else}}
                            <thead>
                                <th>User ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Action</th>
                            </thead>
                            {{#each admins}}
                            <tbody>
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{name}} </td>
                                    <td>{{email}}</td>
                                    <td>{{password}}</td>
                                    <td><a href="/admin/admintablelist/edit/{{id}}">update</a></td>
                                </tr>
                            </tbody>
                            {{/each}}
                            {{/if}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>$('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')

    })
</script>
{{>_adminfooter}}