{{>_sidenav}}
{{>_adminnavbar}}
{{> _flashmsg}}
{{> _msg}} {{!-- views/partials/_msg.handlebars --}}
{{> _errors}} {{!-- views/partials/_errors.handlebars  --}}
<div class="content">   
    <div class="container-fluid">
        {{#if Contact}}
        <div class="row">
            
            <div class="col-md-12">
                <div class="">
                    <div class="card-header " >
                        <h4 class="card-title" >Contact Table</h4>
                        {{!-- <p class="card-category">Edit Here</p>  card strpied-tabled-with-hover --}}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped" id="table">
                            <thead>
                                <th>Contact ID</th>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Email</th>
                                <th>phone</th>
                                <th>message</th>
                            </thead>
                            
                            <tbody>
                                {{#each Contact}}
                                
                                    
                                <tr>
                                    <td>{{id}}</td>
                                    <td>&nbsp;{{name}}</td>
                                    <td>&nbsp;{{subject}} </td>
                                    <td>&nbsp;{{email}}</td>
                                    <td>&nbsp;{{phone}}</td>
                                    <td>&nbsp;{{message}}</td>
                                    <td>&nbsp;<a href="./respondcontacttable/{{id}}">Respond</a></td>
                                    {{!-- <td onclick ="DSalert()"><a href="javascript:;">Delete</a></td> --}}
                                    <td> &nbsp;<a href="./deletecontacttable/{{id}}"
                                            onclick="return confirm('Are you sure you want to delete {{name}} issue on {{subject}}?');">Delete</a>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
    <h2>No Contact found in table</h2>
{{/if}}
    </div>
</div>
<script>$(document).ready(function () {
        $.noConflict();
        $('#table').DataTable();
    });</script>

{{>_adminfooter}}