{{>_sidenav}}
{{>_adminnavbar}}
<div class="content">
    {{#if Contact}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Contact Table</h4>
                        {{!-- <p class="card-category">Edit Here</p> --}}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Contact ID</th>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Email</th>
                                <th>phone</th>
                                <th>message</th>
                            </thead>
                            {{#each Contact}}
                            <tbody>

                                <script type="text/javascript">
                                    function DSalert(id) {
                                        var agree = confirm("Do you want to Delete the work? ")
                                        console.log("alert")
                                        if (agree) { window.location.href = "./deletecontacttable/" + id; }



                                        //else 
                                        //return false ;


                                    }
                                </script>
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{name}}</td>
                                    <td>{{subject}} </td>
                                    <td>{{email}}</td>
                                    <td>{{phone}}</td>
                                    <td>{{message}}</td>
                                    <td><a href="./respondcontacttable/{{id}}">Respond</a></td>
                                    <td onclick="DSalert({{id}})"><a href="javascript:;">Delete</a></td>

                                </tr>
                            </tbody>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<h2>No Contact found in table</h2>
{{/if}}
{{>_adminfooter}}