{{>_sidenav}}
{{>_adminnavbar}}
<div class="content">
    {{#if feedbacks}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Feedback Table</h4>
                        {{!-- <p class="card-category">Edit Here</p> --}}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Feedback ID</th>
                                <th>Name</th>
                                <th>Feedback</th>
                                <th>Rating</th>
                                <th>Date</th>
                            </thead>
                            {{#each feedbacks}}
                            <tbody>
                                <script type="text/javascript">
                                    function DSalert(id) {
                                        var agree = confirm("Do you want to Delete the work? ")
                                        console.log("alert")
                                        if (agree) { window.location.href = "./deletefeedbacktable/" + id; }
                                    }
                                </script>
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{name}} </td>
                                    <td>{{feedback}}</td>
                                    <td>{{options}}</td>
                                    <td>{{date}}</td>
                                    <td onclick ="DSalert()"><a href="./deletefeedback/{{id}}">Delete</a></td>
                                </tr>
                                </tbody>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
    <h2>No feedback found in table</h2>
{{/if}}
{{>_adminfooter}}