{{>_sidenav}}
{{>_adminnavbar}}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Update New Product</h4>
                    </div>
                    <div class="card-body">
                        <form action="/admin/updateproduct/{{product.id}}?_method=PUT" method="POST">
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" class="form-control" value="{{product.title}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Author</label>
                                        <input type="text" name="author" class="form-control"
                                            value="{{product.author}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <input type="text" name="category" class="form-control"
                                            value="{{product.category}}"required>
                                    </div>
                                </div>
                            </div>
                               <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Num of copies</label>
                                        <input type="number" name="qty" class="form-control"
                                            value="{{product.qty}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Price ($)</label>
                                        <input type="number" name="price" class="form-control"
                                            value="{{product.price}}" required>
                                    </div>
                                </div>
                            </div>
                           <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Picture
                                        </label>
                                        <input type="file" id="posterUpload" name="url" accept="image/png,
															image/jpeg,image/jpg,image/gif" class="form-control">
                                        <div class="font-weight-bold text-danger small" id="posterErr"
                                            style="display:none"></div>

                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Update Product</button>

                        </form>
                        <div class="clearfix">
                            <form action="../producttable">
                                <button class="btn btn-warning btn-fill">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{>_adminfooter}}